@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" />
 </head>
    <div class="container text-center home">
        <div class="banner">
            <img class="img-banner" src="https://mona.media/wp-content/uploads/2021/06/banner-giay.png" />
        </div>
        <div class="row">
            <div class="col-md-3 short">
                <img class="img-short" src="https://salt.tikicdn.com/ts/tmp/11/14/45/0741d29c891ce0fdc8fadb2006688fbf.jpg" />
                <div class="short-view">
                    <a href="#">View Product</a>
                </div>
            </div>
            <div class="col-md-3 short">
                <img class="img-short" src="https://www.elleman.vn/wp-content/uploads/2021/03/30/191699/giay-the-thao-nike-air-max-97-22satan-shoes22-elle-man-3.jpg" />
                <div class="short-view">
                    <a href="#">View Product</a>
                </div>
            </div>
            <div class="col-md-3 short">
                <img class="img-short" src="https://giaygiare.vn/upload/sanpham/large/nike-air-jordan-1-low-x-dior-grey-1-1.jpg" />
                <div class="short-view">
                    <a href="#">View Product</a>
                </div>
            </div>
            <div class="col-md-3 short">
                <img class="img-short" src="https://fandy.vn/wp-content/uploads/2017/09/2-2.jpg" />
                <div class="short-view">
                    <a href="#">View Product</a>
                </div>
            </div>
            <div class="col-md-3 short">
                <img class="img-short" src="https://fandy.vn/wp-content/uploads/2017/09/2-2.jpg" />
                <div class="short-view">
                    <a href="#">View Product</a>
                </div>
            </div>
            <div class="col-md-3 short">
                <img class="img-short" src="https://www.elleman.vn/wp-content/uploads/2021/03/30/191699/giay-the-thao-nike-air-max-97-22satan-shoes22-elle-man-3.jpg" />
                <div class="short-view">
                    <a href="#">View Product</a>
                </div>
            </div>
            <div class="col-md-3 short">
                <img class="img-short" src="https://giaygiare.vn/upload/sanpham/large/nike-air-jordan-1-low-x-dior-grey-1-1.jpg" />
                <div class="short-view">
                    <a href="#">View Product</a>
                </div>
            </div>
            <div class="col-md-3 short">
                <img class="img-short" src="https://salt.tikicdn.com/ts/tmp/11/14/45/0741d29c891ce0fdc8fadb2006688fbf.jpg" />
                <div class="short-view">
                    <a href="#">View Product</a>
                </div>
            </div>
        </div>
    </div>

